{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h2>{{ book.title }}</h2>
    <p><strong>저자:</strong> {{ book.author }}</p>
    <p><strong>출판일:</strong> {{ book.publication_date }}</p>
    <a href="{% url 'books:book_update' book.pk %}">도서 정보 수정</a>
    <br>
    <a href="{% url 'books:book_delete' book.pk %}">도서 삭제</a>
    <br>
    <a href="{% url 'books:book_list' %}">도서 목록으로 돌아가기</a>
    {% if user.is_staff %}
        <a href="{% url 'books:book_update' book.pk %}">수정</a>
        <a href="{% url 'books:book_delete' book.pk %}">삭제</a>
    {% endif %}
{% endblock %}
